<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TesteBruno.Web</title>
</head>

<body>
    <header class="uk-text-danger">Menu</header>
    <main>
        @RenderBody()
    </main>
    <script src="~/dist/home.entry.js" asp-append-version="true"></script>
</body>

</html>
